<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="http://api.test.lohoo.com/rest?{0}"/>
    <add key="BASE_URL_HTTPS" value="https://api.test.lohoo.com/rest?{0}"/>

    <add key="APIUser" value="Agent1425885954"/>
    <add key="APPKEY" value="670495abe5f9a7504f3638d01cbdd2c9"/>
    <add key="SECRETKEY" value="75aaa6280572c6463baf05de4bef3756"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
