<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BASE_URL" value="http://api-rest-server/rest?{0}"/>
    <add key="BASE_URL_HTTPS" value="https://api-rest-server/rest?{0}"/>

    <add key="APIUser" value=""/>
    <add key="APPKEY" value=""/>
    <add key="SECRETKEY" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
